---
layout: default
#title:
#summary:
#noindex:
permalink: "/"
thumbnail: "/assets/img/thumbnail.jpg"
categories:
#tags
menu: "about"
---

<link href="assets/css/home.css" rel="stylesheet">
<script>
    $("#header").addClass('header-no-scrolled')
</script>
<div id="hero" class="hero bg-image" style="background-image: url(assets/img/hero-bg.jpg)">
    <div class="overlay-itro">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="text-center">
                    <p class="display-6 color-d">Hello, world!</p>
                    <p class="hero-subtitle">I'm <span class="typed" data-typed-items="Nguyen Dang Nhat, a Developer, a Freelancer, a Farmer"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="about">
    <div class="container">
        <!--About-->
        <div class="p-3 p-sm-5 mt-5 rounded-3 bg-light">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-sm-4 col-md-5">
                            <div class="about-img d-none d-sm-block">
                                <img src="{{site.aboutme.photo}}" class="img-fluid rounded b-shadow-a"
                                    style="margin: 0 !important;" alt="avatar">
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-7">
                            <div class="about-info">
                                <p><b class="title-s">Name: </b><span>{{site.aboutme.name}}</span></p>
                                <p><b class="title-s">Email: </b><span>{{site.aboutme.email}}</span></p>
                                <p><b class="title-s">Phone: </b><span>{{site.aboutme.phone}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pt-4 pt-lg-0">
                        <div>
                            <h5>About me</h5>
                        </div>
                        <ul>
                            {% if site.aboutme.abouts %} {% for about in site.aboutme.abouts %}
                            <li>{{ about }}</li>
                            {% endfor %} {% endif %}
                        </ul>
                        <div>
                            <h5>Skill</h5>
                        </div>
                        <ul>
                            {% if site.aboutme.skills %} {% for skill in site.aboutme.skills %}
                            <li>{{ skill }}</li>
                            {% endfor %} {% endif %}
                        </ul>
                        <div>
                            <a class="btn btn-primary" href="{{site.aboutme.cv}}">Download my CV</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Products-->
        <div class="position-relative mt-5">
            <a href="/products">
                <img src="{{site.products.thumbnail}}" alt="products" class="rounded-3" width="100%" />
            </a>
            <div class="position-absolute top-50 start-0 translate-middle-y ms-3 ms-sm-5 d-none d-lg-block"
                style="width: 100%;">
                <div class="row">
                    <div class="col-sm-5">
                        <h4>{{site.products.title}}</h4>
                        <p style="font-size: 1.5rem;">{{site.products.description}}</p>
                        <a href="/products" class="color-a">Explore all products</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center d-lg-none pt-2">
            <h4>{{site.products.title}}</h4>
            <p style="font-size: 1.2rem;">{{site.products.description}}</p>
            <a href="/products" class="color-a">Explore all products</a>
        </div>
        <!--Hire me-->
        <div class="position-relative mt-5">
            <a href="/hireme">
                <img src="{{site.hireme.thumbnail}}" alt="hire me thumbnail" class="rounded-3" width="100%" />
            </a>
            <div class="position-absolute top-50 start-0 translate-middle-y ms-3 ms-sm-5 d-none d-lg-block"
                style="width: 100%;">
                <div class="row">
                    <div class="col-sm-5">
                        <h4>{{site.hireme.title}}</h4>
                        <p style="font-size: 1.5rem;">{{site.hireme.description}}</p>
                        <a href="/services" class="color-a">Get in Touch</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center d-lg-none pt-2">
            <h4>{{site.hireme.title}}</h4>
            <p style="font-size: 1.2rem;">{{site.hireme.description}}</p>
            <a href="/services" class="color-a">Get in Touch</a>
        </div>
        <!--stories-->
        <div class="position-relative mt-5 mb-lg-5">
            <a href="/stories">
                <img src="{{site.stories.thumbnail}}" alt="stories thumbnail" class="rounded-3" width="100%" />
            </a>
            <div class="position-absolute top-50 start-0 translate-middle-y ms-3 ms-sm-5 d-none d-lg-block"
                style="width: 100%;">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 style="color: #fff;">{{site.stories.title}}</h4>
                        <p style="font-size: 1.5rem; color: #fff;">{{site.stories.description}}</p>
                        <a href="/stories" class="btn btn-primary">Explore my stories</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center d-lg-none pt-2 mb-5">
            <h4>{{site.stories.title}}</h4>
            <p style="font-size: 1.2rem;">{{site.stories.description}}</p>
            <a href="/stories" class="color-a">Explore my stories</a>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var typed = $('.typed');
        let typed_strings = $('.typed').attr("data-typed-items");
        typed_strings = typed_strings.split(',')
        new Typed('.typed', {
            strings: typed_strings,
            loop: true,
            typeSpeed: 100,
            backSpeed: 50,
            backDelay: 2000
        });
        headerScrolled();
    });

    $(document).scroll(function () {
        headerScrolled();
    });

    function headerScrolled() {
        if (window.scrollY > window.innerHeight / 3) {
            $("#header").removeClass('header-hero')
        } else {
            $("#header").addClass('header-hero')
        }
    }
</script>