---
layout: default
title: "My Stories"
summary: "My Stories"
permalink: "/stories"
menu: "stories"
thumbnail: "/assets/img/thumbnail.jpg"
---
<div class="container" style="padding-top: 70px;">
    <!-- title -->
    <div class="text-center p-5">
        <h1>My Stories</h1>
        <p>Helpful products. For everyone.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for post in site.posts reversed %}
            <div class="col-sm-6 pb-5 p-3 p-sm-5">
                <a href="{{ post.url }}">{{ post.title }}</a>
                <p>{{ post.excerpt }}</p>
                {% if post.title_photo %}
                <img src="{{ post.title_photo }}" alt="test" class="rounded-2" width="100%" />
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
