<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>{% if {page.title %}{{ page.title }} - {{site.title}}{% else %}{{ site.title }} - {{site.subtitle}}{% endif %}</title>

    {% if page.summary %}
    <meta name="description" content="{{ page.summary }}"/>
    {% else %}
    <meta name="description" content="{{ site.description }}"/>
    {% endif %} 
    <meta name="keywords" content="{% if page.title %}{{ page.title }}, {% endif %}{{ site.title }}, {{ page.keywords | escape }}" />
    {% if page.noindex %}
    <meta name="robots" content="noindex" />
    {% endif %}

    <!-- og meta -->
    <meta property="og:site_name" content="{{ site.title }}"/>
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="article"/>
    {% else %}
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:type" content="website"/>
    {% endif %} 
    {% if page.summary %}
    <meta property="og:description" content="{{ page.summary }}"/>
    {% else %}
    <meta property="og:description" content="{{ site.description }}"/>
    {% endif %} 
    {% if page.permalink %}
    <meta property="og:url" content="{{ site.url }}{{ page.permalink }}"/>
    {% endif %}
    {% if page.thumbnail %}
    <meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}"/>
    {% endif %}
    {% if page.categories %} {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section" />
    {% endfor %} {% endif %} 
    {% if page.tags %} {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag" />
    {% endfor %} {% endif %}
    
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.share.twitter_username }}" />
    <meta name="twitter:creator" content="@{{ site.share.twitter_username }}" />
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}" />
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}" />
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    {% endif %}
    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}" />
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}
    {% if page.thumbnail %}
    <meta name="twitter:image:src" content="{{ site.url }}{{ page.thumbnail }}" />
    {% endif %}

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Boostrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- jQuery Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>