<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">{{site.aboutme.name}}</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                {% if site.memuitems %} {% for item in site.memuitems %}
                <li><a class="nav-link" id="{{item.id}}" href="{{item.url}}">{{item.name}}</a></li>
                {% endfor %} {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
{% if page.menu %}
<script>
    $("#{{page.menu}}").addClass('active');
</script>
{% endif %}