<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Nguyen</title>
    <meta property="og:description" content="My father is a farmer">
    <meta content="Nguyen Dang Nhat, Developer, Sharepoint, Flutter, Freelancer, Profile" name="keywords">

    <!-- og meta -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Nguyen Dang Nhat">
    <meta property="og:url" content="https://ngdangnhat.github.io/">
    <meta property="og:image" content="https://ngdangnhat.github.io/assets/img/avatar.jpg" />
    <meta property="og:image:secure_url" content="https://ngdangnhat.github.io/assets/img/avatar.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Boostrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- jQuery Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>