<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">{{site.aboutme.name}}</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                {% if site.menus %} {% for item in site.menus %}
                <li><a class="nav-link" href="{{item.url}}">{{item.name}}</a></li>
                {% endfor %} {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
{% if page.menu %}
<script>
    let currentMenu = "/{{page.menu}}";
    $("#navbar .nav-link").each(function (index) {
        let pathname = $(this).prop("pathname");
        if (currentMenu == pathname) {
            $(this).addClass('active');
        }
    });
</script>
{% endif %}